body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bookmarklet.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
}

h1 {
    color: #222;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
}

p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.8;
    color: #555;
}

a.bookmarklet-button {
    padding: 15px 30px;
    background: linear-gradient(90deg, #FF7E5F 0%, #5D5FEF 100%);
    color: #FFF;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

a.bookmarklet-button:hover {
    background: linear-gradient(90deg, #FF5F7E 0%, #5F5FEF 100%);
}

.cta {
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
    font-weight: 600;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    width: 80%;
    text-align: center;
}

.image {
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.aemGenAIAssistant {
    position: fixed;
    top: 50px;
    bottom: 5px;
    right: 10px;
    left: calc(100vw - 400px - 10px - 2px);
    width: 400px;
    height: calc(100vh - 50px - 5px - 2px);
    border: 1px solid #E6E6E6;
    border-radius: 12px;
    z-index: 2147483647;
    background-color: #FFFFFF;
    overflow: hidden;
    resize: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}